[[source]]
url = "https://github.com/imamdigmi/python-esmy"
verify_ssl = true
name = "pypi"

[packages]
mysql-replication = "*"
elasticsearch = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.6"
